@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Nothing+You+Could+Do&display=swap');

html{
    font-size: 22px;
}

div{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    font-family: "Barlow Condensed", "century gothic", sans-serif;
}

h1{
    text-align: center;
    font-family: 'Nothing You Could Do', sans-serif;

}

h4{
    text-align: center;
    font-family: "Barlow Condensed", "century gothic", sans-serif;
}

div.button-box{
    text-align: center;
    font-family: "Barlow Condensed", "century gothic", sans-serif;
}

main{
    text-align: center;
    font-family: "Barlow Condensed", "century gothic", sans-serif;
}

h2{
    font-family: 'Nothing You Could Do', sans-serif;
    margin: 0;
}

#background{
    height: 725px;
}

#logo_link{
    padding-top: 5px;
}

body{
    background-color: #ADBFD5;
    color: #396E94;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #848B9B;
    color: #396E94;
}
nav a{
    background-color: #848B9B;
    color: #396E94;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color: #1C2631;
    color: #EDF4F9;
}
title.home-title{
    background-color: #848B9B;
    color: #396E94;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    background-color: #ADBFD5;
    color: #396E94;
}
a.book{
    background-color: #ADBFD5;
    color: #396E94;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
a.book:hover{
    background-color: #EDF4F9;
    color: #396E94;
}
a.join{
    background-color: #ADBFD5;
    color: #396E94;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
a.join:hover{
    background-color: #396E94;
    color: #396E94;
}
section.msg h2{
    background-color: #396E94;
    color: #EDF4F9;
    text-align: center;
}
section.msg{
    padding: 35px;
}
section.msg p{
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}
section p{
    background-color: #396E94;
    color: #ADBFD5;
    text-align: center;
}
footer{ 
    background-color: #848B9B;
    color: #1C2631;
    font-family: "Barlow Condensed", "century gothic", sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    background-color: #848B9B;
    color: #396E94;
}
footer a.hover{
    background-color: #396E94;
    color: #848B9B;
    text-align: center;
    text-decoration: none;
}
img.logo{
    width: 80px;
    padding-top: 15px;
}
img.icon{
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%
}
footer p a:hover{
    text-decoration: underline;
}
footer p{
    font-size: 1.2em;
}
div.background{
    height: 725px;
}
div.social{
    padding-top: 15px;
}
img.icon{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #1C2631;
}
main section img{
    box-sizing: border-box;
}